label{
	font-weight:bold;
}
<<<<<<< HEAD
.rowClass:hover {
//	background-color:#EFEFEF;
	cursor: pointer;
	outline: medium solid #EFEFEF;
}
.fromClass{
	width:500px;
	height:auto;
	align-self:center;
	text-align:left;
}

=======
>>>>>>> parent of 54faa5c... Revert "Revert "test""
